<div id="header">
<ul id="top">
<li class="top_item"><a href="www.google.com">First</a></li>
<li class="top_item"><a>Second</a></li>
<li class="top_item"><a>Third</a></li>
<li class="top_item"><a>Four</a></li>
</ul>
</div>
